<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Insert title here</title>
<style type="text/css">
	.myrow{
		margin-bottom:10px
	}
</style>
</head>
<body>
<div class="container-fluid">
	<form id="myForm">
		<div class="row myrow">
			<div class="col-md-2">
				<label for="bookName">名称</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" id="bookName" name="bookName"/>
			</div>
			<div class="col-md-2">
				<label for="bookPrice">价格</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" id="bookPrice" name="bookPrice"/>
			</div>
		</div>
		<div  class="row myrow">
			<!--<div class="col-md-2">
				<label for="bookDate">日期</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control date" id="bookDate" name="bookDate"/>
			</div>-->
			<div class="col-md-2">
				<label for="typeId">类型</label>
			</div>
			<div class="col-md-4">
				<input  id="typeId" name="typeId" class="form-control"/>
			</div>
		</div>

	</form>
</div>
</body>
<script type="text/javascript">


	$(function(){
		$('.date').datetimepicker({
			  language: 'zh-CN',//显示中文
			  //format: 'yyyy-mm-dd hh:ii:ss',//显示格式
			  format: 'yyyy-mm-dd',//显示格式
			  minView: "month",//设置只显示到月份
			  initialDate: new Date(),//初始化当前日期
			  autoclose: true,//选中自动关闭
			  todayBtn: true//显示今日按钮
			 });
	})

</script>
</html>